#define IDM_FILE 10002
#define IDM_CONTROLLERS 10003
#define IDM_SEP0 10002
#define IDM_ 10008
#define IDM_RECENTROMS 10006
#define IDM_VIEW 10003
#define IDM_ABOUT 10004
#define IDD_DLG1 1000
#define IDC_ICON 500
#define IDR_MENU1 10000
#define IDM_LOADROM 10007
#define IDM_EMPTY 10008
#define IDM_EXIT 10005
#define IDM_EMPTY 10002
#define IDM_SETUP 10001
#define IDM_ABOUTNESTEA 1009

IDD_DLG1 DIALOGEX 6,0,369,231
CAPTION "OLCNES-FB"
FONT 8,"MS Sans Serif",400,0,0
MENU IDR_MENU1
STYLE 0x10CE0800
BEGIN
END

IDC_ICON ICON DISCARDABLE "res/icon1.ico"

IDR_MENU1 MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "Load Rom",IDM_LOADROM
    POPUP "Recent Roms"
    BEGIN
      MENUITEM "Empty",IDM_EMPTY,GRAYED
    END
    MENUITEM SEPARATOR
    MENUITEM "Exit",IDM_EXIT
  END
  POPUP "View"
  BEGIN
    MENUITEM "Empty",IDM_EMPTY,GRAYED
  END
  POPUP "Controllers"
  BEGIN
    MENUITEM "Setup",IDM_SETUP
  END
  POPUP "About"
  BEGIN
    MENUITEM "About NESTEA",IDM_ABOUTNESTEA
  END
END

